
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-envelope"></span>
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
  </div>

  <br>

   <div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    <%= f.text_field :name , autocomplete: "off", placeholder: "Name", class: "form-control" %>
  </div>

  <br>

   <div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    <%= f.text_field :username , autocomplete: "off", placeholder: "Username", class: "form-control" %>
  </div>

  <br>

  <div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-tree-conifer"></span>
    <%= f.text_field :location , autocomplete: "on", placeholder: "Location", class: "form-control" %>
  </div>

<br>  

<div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-pencil"></span>
    <%= f.text_field :bio , autocomplete: "off", placeholder: "Bio", class: "form-control" %>
  </div>

<br>

<div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-lock"></span>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "form-control" %>
  </div>

<br>

  <div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-lock"></span>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control" %>
  </div>

<br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>



<%= render "devise/shared/links" %>
