<!DOCTYPE html>
<html>
<head>
  <title>BryceBrandTwitter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="conntainer">
	 <% if user_signed_in? %>

   Hi, <%= current_user.name %>! Welcome back!<br />

   <%= link_to "Edit My Profile", edit_user_registration_path %><br />
   <%= link_to "Sign out",destroy_user_session_path, method: :delete, class: "btn btn-warning" %>

 <% else %>
 	<div class="field invisible">
   <%= link_to "Sign in",new_user_session_path %>
</div>

 <% end %>

<%= yield %>
</div>

</body>
</html>
